extends ../layout

block content
  h1 Content Management
  
  div
    a.button(href='#articles' onclick='viewIndex()') All Articles
    |&nbsp;&nbsp;
    a.button(href='#createArticle' onclick='createArticle()') Create
  br
  br

  div#app

  script(src='/javascripts/articles-app.js')