extends ../layout

block content
  h1 Users Management

  div
    a.button(href='#users' onclick='viewIndex()') All Users
    |&nbsp;&nbsp;
    a.button(href='#createUser' onclick='createUser()') Create
  br
  br

  div#app

  script(src='/javascripts/users-app.js')